<h1>Enter a phrase to create a word puzzle!</h1>
  <form action='/puzzle' method="get">
    <div class="form-group">
      <label for="userInput">Phrase:</label>
      <input id="userInput" name="userInput" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-info">Go!</button>
  </form>
